.notfound{
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notfoundtlt{
    font-size: 60px;
    font-weight: bold;
    color: var(--red-color);
}

.notfoundt{
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.notfoundlink{
    display: block;
    color: var(--white-color);
    font-size: 21px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}
.notfoundlink:hover{
   
    background-color: var(--primary-color);
}